@font-face {
  font-family: "SVN-Gilroy-Light";
  src: url("font/SVN-Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Gilroy-Bold";
  src: url("font/SVN-Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --Black: #232525;
  --Black-50opacity: #2325257f;
  --orange: #f9b842;
  --cream: #d9d9d9;

  --padding: 1rem;
  --border-radius: 2rem;
}

* {
  margin: 0;
}

li {
  list-style: none;
  display: inline-flex;
}

a,
a:link,
a:visited {
  color: var(--Black);
  text-decoration: none;
}

body {
  font-family: "SVN-Gilroy", sans-serif;
  font-weight: 300;
  background-color: var(--cream);
  color: var(--Black);
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1em;
}
footer {
  padding: 2rem;
  text-align: center;
}
/*-------------------------------------------*/

nav {
  background-color: var(--Black);
  color: white;
  border-bottom: solid 4px var(--orange);
  display: flex;
  flex-direction: row-reverse;
}
nav input {
  background-color: var(--Black);
  color: var(--orange);
  border: solid 1px var(--orange);
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 1rem;
  transition: border-radius 1s;
}

nav input:active,
nav input:focus {
  border: solid 1px var(--orange);
  background-color: var(--cream);
  color: var(--Black);
  outline: none;
  border-radius: 0rem;
}

.btn {
  background-color: var(--orange);
  color: white !important;
  border: none;
  outline: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 1em;
}
.main__container {
  margin: auto;
  margin-top: 2rem;
  max-width: 80vw;
  padding: var(--padding);
  box-shadow: 0px 0px 5px var(--Black-50opacity);
  border-radius: var(--border-radius);
}
/*--- Welcome ---*/
.welcome_message {
  max-height: 50rem;
  background-color: var(--Black-50opacity);
  border-radius: calc(var(--border-radius) - var(--padding));
  color: white;
  padding: var(--padding);
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  align-items: center;
}

.logo-img {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  max-height: 100%;
  object-fit: contain;
  width: 2rem;
  display: flex;
  justify-content: center;
}

.logo-img img {
  max-height: 100%;
  object-fit: contain;
  width: 2rem;
}

.welcome_message h1 {
  grid-row: 1 / 2;
  grid-column: 2;
}

.welcome_message p {
  grid-row: 2 / 3;
  grid-column: 2;
}

/*--- Registration Management ---*/

.container-registration {
  border: solid 1px var(--orange);
  border-radius: calc(var(--border-radius) - var(--padding));
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
  margin-block: 1rem;
}
.container-registration h1 {
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.container-registration form {
  margin-left: 3rem;
  background-color: #d9d9d9;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

.container-registration select {
  width: 10rem;
  height: 1.8rem;
  padding: 0.5em;
  line-height: 3em;
  margin: 0;
  background-color: white;
  border: 1px solid var(--orange);
  border-radius: 0.25rem;
  outline: none;
}
.container-registration input {
  border: 1px solid var(--orange);
  width: 10rem;
  height: 1.3rem;
  padding-left: 0.5em;
}

.container-registration input:focus {
  outline: solid 2px var(--orange);
}

/*--- Participants table ---*/

.table__participants {
  width: 100%;
}

table {
  border-radius: calc(var(--border-radius) - var(--padding));
  overflow: hidden;
  border: solid 0.5px var(--Black-50opacity);
  border-spacing: 0;
}

td,
th {
  border: solid 0.5px var(--Black-50opacity);
  text-align: center;
}

th {
  background-color: var(--Black);
  color: white;
  font-size: 1.1em;
  height: 3rem;
  border-top: none;
}
th:first-of-type {
  border-top-left-radius: calc(var(--border-radius) - var(--padding));
}
th:last-of-type {
  border-top-right-radius: calc(var(--border-radius) - var(--padding));
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: calc(var(--border-radius) - var(--padding));
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: calc(var(--border-radius) - var(--padding));
}

/*--- Judge interface ---*/
.judge-interface {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--padding);
}

.judge-interface h1 {
  margin-bottom: 1rem;
}
.judge-interface button {
  width: 3rem;
  text-align: center;
}
.judge-interface input {
  width: 5%;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--Black);
  font-weight: 700;
  color: white;
  border: solid 0.1rem var(--orange);
}
.judge-counter {
  display: flex;
  flex-direction: row;
}
.judge-timer {
  padding: 1rem;
  margin: 1rem;
  align-self: center;
  text-align: center;
  border: solid 0.2rem black;
}
.timer-digits {
  background-color: var(--Black);
  border-radius: var(--padding);
  text-align: center;
  color: white;
  font-size: 3.5em;
  padding: 0.2em;
}
/*--- hidden ---*/
.hidden {
  display: none;
}
